<header role="banner">
    <div id="header--container">
        <div id="header--left">
            <div id="header--title">
                <a href="/" title="{{ site.name }} - {{ site.description }}">
                    {{ site.name | lower }}
                </a>
            </div>
        </div>
        <div id="header--right">{% include "partials/nav.njk" %}</div><div id="search"></div>
    </div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.css" />
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@algolia/algoliasearch-netlify-frontend@1/dist/algoliasearchNetlify.js"></script>
    <script type="text/javascript">
      algoliasearchNetlify({
        appId: 'CP53J5G8Y3',
        apiKey: '0cd648d9ee0be05198b461d05bc96de8',
        siteId: 'e0e5bda3-a3f1-4086-a8ad-fcb1da4e7257',
        branch: 'main',
        selector: 'div#search',
      });
    </script>
</header>  
     